<%- include ('../layouts/header', {title: 'TODO-List'}) %>
<%- include ('../layouts/menu') %>


  <section class="section hero is-link is-fullheight-with-navbar">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
          Bibi's TODO-List
        </h1>
        <h2 class="subtitle">
          hello
        </h2>
	<a href="/checklists" class="button is-light is-medium">Ir para Listas de Atividades!</a>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bibi's TODO-List</strong> by <a href="https://github.com/GabedeSousa">Gabriel de Sousa</a>.
        </p>
      </div>
    </footer>
  </section>
  

  <%- include ('../layouts/footer') %>


