<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bibi's TODO-List</strong> by <a href="https://github.com/GabedeSousa">Gabriel de Sousa</a>.
      </p>
    </div>
  </footer>


</body>
</html>